body {
	background-image: url('background2.jpg');
}

#billing{
	display: none;
}

body h1 {
	text-align: center;
	color: #ffffff;
	font-family: Verdana;
}

#form {
	background-color: rgba(210,215,211,0.7);
	width: 100%;
	display: block;
	padding: 1em;
}

#order_contents {
	background-color: rgba(210,215,211,0.7);
	width: 100%;
	display: block;
	padding: 1.5em;
	position: relative;
}

.input {
	width: 100%;
}

<<<<<<< HEAD
dt {
	float: left;
	clear: both;
}

dd { 
	float: right;
}

#submit {
	position: relative;
	display: block;
	clear: both;
}

=======
.menuitem{
	width: 25px;
	margin-right: 10px;
}
>>>>>>> origin/master

@media only screen and (min-width: 680px) {
	body {
		background-image: url('background.jpg');		
	}
	#form {
		width: 60%;
		margin: auto auto auto 10%;
	}
	#order_contents {
		position: fixed;
		top:13.5%;
		right: 10%;
		width: 20%;
		float: right;
	}
}