body {
	background-image: url('background2.jpg');
	padding: 1.5em;
	text-shadow: 0px 1px 0px white;
}

#billing{
	display: none;
}

body h1 {
	text-align: center;
	color: #ffffff;
	font-family: Verdana;
	text-shadow: 0px 1px 0px black;

}


#menu {
	background-color:rgba(210,215,211,0.7);
	width: 100%;
	display: block;
	padding: 1.5em;
	margin: 3px;
}

#menu input {
	width: 15%;
	margin-right: 10px;
	margin-bottom: 4px;
}

#form {
	background-color:rgba(210,215,211,0.7);
	width: 100%;
	display: block;
	padding: 1em;
}

.input {
	width: 100%;
}


@media only screen and (min-width: 680px) {
	body {
		background-image: url('background.jpg');		
	}
	#form {
		width: 60%;
		margin: auto;
	}
}