body{
	background-color: #EDEACB;
}

.nav{
	width: 100%;
	background-color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 2px;
}

.current{
	color: #D61818 !important; 
}

.nav a{
	color: #EDEACB;
	font-size: 2em;
	font-family: "Cambria";
}

a:hover{
	background-color: #000000;
}

.roll-list {
	width: 100%;
}

.other-sushi{
	width: 100%;
}

.nigiri-list{
	list-style: none;
	padding-bottom: 2px;
}

.sushi-combo-list{
	list-style: none;
	padding-bottom: 2px;
}

.spec-sushi-combo-list{
	list-style: none;
	padding-bottom: 2px;
}

.spec-sushi-sashimi{
	list-style: none;
	padding-bottom: 2px;
}

.sashimi-combo-list{
	list-style: none;
	padding-bottom: 2px;
}

.party-list{
	list-style: none;
	padding-bottom: 2px;
}

.drinks-list{
	list-style: none;
	padding-bottom: 2px;
}

.catering{
	margin: 20px;
	text-align: center;
}

#cater{
	width: 50%;
	margin-left: 25%;
	margin-bottom: 20px;
	display: none;
}

footer{
	width: 100%;
	background-color: #000000;
	color: #EDEACB;
	text-align: center;
	position: fixed;
	bottom: 0;
}

@media only screen and (min-width: 767px) {
	.roll-list {
		float: left;
		width: 50%;
	}
	.other-sushi {
		float: left;
		width: 50%;
	}
	#cater{
		display: block;
	}
}
