body{
	background-color: #EDEACB;
}

.nav{
	width: 100%;
	background-color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 2px;
}

.current{
	color: #D61818 !important; 
}

.nav a{
	color: #EDEACB;
	font-size: 2em;
	font-family: "Cambria";
}

#clear_footercater{
	height: 150px;
	clear: both;
}

#clear_footerhome{
	height: 60px;
	clear: both;
}

#store{
	width: 100%;
	margin-top: 20px;
}

a:hover{
	color: #766C6A;
}

.roll-list {
	width: 100%;
}

.other-sushi{
	width: 100%;
}

.nigiri-list{
	list-style: none;
	padding-bottom: 2px;
}

.sushi-combo-list{
	list-style: none;
	padding-bottom: 2px;
}

.spec-sushi-combo-list{
	list-style: none;
	padding-bottom: 2px;
}

.spec-sushi-sashimi{
	list-style: none;
	padding-bottom: 2px;
}

.sashimi-combo-list{
	list-style: none;
	padding-bottom: 2px;
}

.party-list{
	list-style: none;
	padding-bottom: 2px;
}

.drinks-list{
	list-style: none;
	padding-bottom: 2px;
}

.catering{
	margin: 20px;
	margin-bottom: 50px;
	float: left;
	text-align: center;
}

#cater{
	display: none;
}

#other{
	display: none;
	-webkit-transition: opacity 1s ease-in-out;
  	-moz-transition: opacity 1s ease-in-out;
  	-o-transition: opacity 1s ease-in-out;
  	transition: opacity 1s ease-in-out;
}

#other:hover{
	opacity: 0;
}

#warning{
	margin-bottom: 50px;
}

#contact_text{
	margin-bottom: 50px;
	text-align: center;
}

h4{
	font-style: italic;
}

footer{
	width: 100%;
	padding: 5px;
	background-color: #000000;
	color: #EDEACB;
	text-align: center;
	position: relative;
	bottom: 0;
	clear: both;
}

iframe{
	display: none;
}

@media only screen and (min-width: 767px) {
	.roll-list {
		float: left;
		width: 50%;
	}
	.other-sushi {
		float: left;
		width: 50%;
	}
	.cater_pics{
		float: left;
		width: 50%;
	}
	.catering{
		float: right;
		width: 45%;
	}
	#cater{
		display: inline-block;
		position: absolute;
		float: left;
		width: 50%;
		margin: 20px;
		border-radius: 5px;
	}
	#other{
		display: inline-block;
		position: absolute;
		float: left;
		width: 50%;
		margin: 20px;
		border-radius: 5px;
	}
	iframe{
		display: block;
	}
}
